# You must update this value in the Vercel dashboard environment variables 
# section after the Render service is deployed live and its URL is known!
# Format: https://your-service-name.onrender.com

NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:10000
